body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: whitesmoke;
    font-size: 14px;
    max-width: 1400px;
    min-width: 800px;
}

/*---------------Header----------------*/
header{
    display: flex;
}

.section_searcher{
    background-color: black;
    margin: 0%;
}

.img_div{
    /*height: 50px;*/
}

.logo{
    margin: 11px 0px;
    padding-left: 10px;
    height: 38px;
    vertical-align: middle;
}

.doble_line_div{
    padding: 0px 15px;
    font-size: 12px;
    text-align: center;
}

.doble_text_line{
    vertical-align: middle;
}

strong{
    font-size: 14px;
}

.div_inline_block{
    display: flex;
}

.div_menu_all{
    vertical-align: top;
    display: inline-block;
    width: 45px;
    height: 39px;
    background-color: whitesmoke;
}

.all_searcher{
    display: inline-block;
    height: 38px;
}

.div_menu_searcher{
    vertical-align: top;
    height: 38px;
    width: 400px;
    min-width: 250px;
    display: inline-block;
}

.searcher{
    vertical-align: top;
    width: 400px;
    display: inline-block;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 0;
}

.search_span{
    height: 38px;
    vertical-align: top;
    text-align: end;
}
.search_img{
    height: 38px;
    vertical-align: top;
    text-align: end;
}

.language_and_flag_div{
    display: inline-block;
    margin: 0px 20px;
}

.icon_flag_div{
    display: inline-block;
    width: 20px;
    height: 15px;
}

.icon_flag{
    display: inline-block;
    width: 20px;
    height: 15px;
}

.language_div{
    display: inline-block;
    width: 20px;
    height: 15px;
    background-color: black;
}

.language_select{
    display: inline-block;
    width: 40px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-color: black;
}

.account_select{
    background-color: black;
    color: white;
    border: 0px;
    float: right;
}

.icon_car_div{
    display: inline-block;
}

/*---------------Nav----------------*/

nav{
    background-color: rgb(41, 39, 46);
}

#nav_all_div{
    background-image:url(./assets/prueba.jpg);
    background-repeat:no-repeat;
    background-position:left;
    background-size:20px 20px;
    min-width:50px;
}

#nav_all_a{
    text-align: right;
    width: 100px;
    padding-left: 30px;
}

.menu{
    background-color: rgb(41, 39, 46);
    text-decoration: none;
    list-style: none;
    text-align: start;
    margin: 0%;
}

li{
    display: inline-block;
    padding: 10px 10px;
}

a{
    text-decoration: none;
    color: white;
}
