body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: whitesmoke;
    font-size: 14px;
    max-width: 1400px;
    min-width: 800px;
    box-sizing: border-box;
}

/*---------------Header----------------*/
header{
    display: flex;
    padding: 5px 0px;
}

.section_searcher{
    background-color: black;
    margin: 0%;
}

.logo{
    padding-left: 10px;
    vertical-align: middle;
}

.doble_line_div{
    padding: 0px 15px;
    font-size: 12px;
    text-align: center;
    min-width: 105px;
}

.doble_text_line{
    vertical-align: middle;
}

strong{
    font-size: 14px;
}

.div_inline_block{
    display: flex;
    width: 50%;
}

.div_menu_select{
    vertical-align: top;
    display: inline-block;
    width: 7%;
    min-width: 40px;
    height: 39px;
    background-color: whitesmoke;
}

.all_searcher{
    display: inline-block;
    height: 38px;
}

.searcher{
    vertical-align: top;
    width: 85%;
    min-width: 50px;
    display: inline-block;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 0;
}

.search_img{
    height: 38px;
    min-width: 45px;
    width: 8%;
    vertical-align: top;
    text-align: end;
}

.language_and_flag_div{
    display: flex;
    margin: 0px 20px;
}

.icon_flag_div{
    min-width: 20px;
    min-height: 15px;
}

.icon_flag{
    padding-top: 15px;
    width: 20px;
    height: 15px;
}

.language_div{
    padding-top: 15px;
    width: 20px;
    background-color: black;
}

.language_select{
    vertical-align: bottom;
    width: 40px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-color: black;
}

.account_select{
    background-color: black;
    color: white;
    border: 0px;
    float: right;
}

.icon_car_div{
    display: inline-block;
}

/*---------------Nav----------------*/

nav{
    background-color: rgb(41, 39, 46);
}

#nav_all_div{
    background-image:url(./assets/three_lines.jpg);
    background-repeat:no-repeat;
    background-position:left;
    background-size:20px 20px;
    min-width:50px;
}

#nav_all_a{
    text-align: right;
    width: 100px;
    padding-left: 30px;
}

.menu{
    background-color: rgb(41, 39, 46);
    text-decoration: none;
    list-style: none;
    text-align: start;
    margin: 0%;
}

li{
    display: inline-block;
    padding: 10px 10px;
}

a{
    text-decoration: none;
    color: white;
}


/*-----------slider background------------------*/

.slider_div{
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
}

.slider_section{
    display: flex;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    width: 800%;
    animation: cambio 50s infinite alternate linear;
}

@keyframes cambio{
    0% {margin-left: 0;}
    10% {margin-left: 0;}

    13% {margin-left: -100%;}
    22% {margin-left: -100%;}

    24% {margin-left: -200%;}
    34% {margin-left: -200%;}

    36% {margin-left: -300%;}
    46% {margin-left: -300%;}

    48% {margin-left: -400%;}
    58% {margin-left: -400%;}

    60% {margin-left: -500%;}
    70% {margin-left: -500%;}

    73% {margin-left: -600%;}
    85% {margin-left: -600%;}

    88% {margin-left: -700%;}
    100% {margin-left: -700%;}
}

.slider_img{
    width: calc(100% / 8) ;
    height: 100%;
    object-fit: cover;
}

.angles{
    position: absolute;
    z-index: 2;
    width: 100%;
}

.angles img{
    padding: 60px 0px;
    height: 40px;
    width: 20px;
}

.angle_left_li{
    float: left;
    position: absolute;
    left: 0%;
}

.angle_right_li{
    float: right;
    position: absolute;
    right: 3%;
}

/*-------------products-------------*/

.products_section{
    position: relative;
    z-index: 3;
    border: 0%;
    margin-top: 250px;
    display: flex;
    width: 100%;
}

.product_div{
    display: block;
    width: 100%;
    padding: 0% 1%;
}

.card{
    width: 23.5%;
    height: 450px;
    display: inline-block;
    margin: 10px .5%;
    background-color: white;
    align-items: center;
}

.card h2{
    line-height: 50px;
    height: 15%;
    color: black;
    width: 90%;
    display: inline-block;
    padding: 0% 5% ;
    margin: 0%;
    text-align: left;
}

.product_img{
    height: 70%;
    width: 90%;
    padding: 0% 5%;
}

.card p{
    color: rgb(34, 149, 184);
    width: 90%;
    padding: 0% 5%;
}
